name: tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 25 for x64
        uses: actions/setup-java@v5.0.0
        with:
          java-version: '25'
          distribution: 'adopt'
          architecture: x64
          cache: maven

      - name: Build with Maven
        run: mvn clean install